
CakePop/CakePop.xcodeproj/xcuserdata/Antonio.xcuserdatad/xcschemes/xcschememanagement.plist

CakePop/CakePop.xcodeproj/project.xcworkspace/xcuserdata/Antonio.xcuserdatad/UserInterfaceState.xcuserstate

CakePop/CakePop.xcodeproj/xcuserdata/Antonio.xcuserdatad/xcschemes/CakePop.xcscheme
